@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Inter:wght@600;700&family=Roboto&display=swap');

$text-color: #333;
$transition-time: 0.3s;

%font-bold {
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

%font-basic {
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}


.text-container {
  width: 95%;
  margin: 0 auto;
  cursor: pointer;
  transition: height $transition-time ease-in-out;

  .instruction {
    color: blue;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      margin-left: 5px;
    }
  }

  img {
    width: 100%;
    align-items: center;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .text {
    color: $text-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-time ease-in-out;
  }

  &.expanded {
    .text {
      max-height: 1000px;
    }
  }

}

main {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  align-items: center;

  article {
    @extend %font-basic;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 25px;

    .card_service {
      max-width: 700px;
      min-width: 700px;

      margin: 0 auto;
      padding: 15px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
      border-radius: 0.5rem;
      overflow: hidden;

      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      transition: all $transition-time ease-out;

      .card_service_title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        p {
          @extend %font-bold;
          font-size: 25px;
          padding: 15px;
        }
      }

      img {
        max-width: 150px;
        max-height: 150px;
      }

      .card_service_description {
        @extend %font-basic;
        font-size: 16px;
      }


    }


    .article_payment_btn {
      font-size: 20px;
      color: white;

      width: 100%;
      height: 50px;
      margin-top: 10px;

      cursor: pointer;
      border-radius: 0.5rem;
      background: var(--background-main-color, #0D63F3);
      transition: all $transition-time ease-out;

      &:hover {
        border-radius: 0.1rem;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .0), 0 2px 6px 2px rgba(60, 64, 67, .15);
      }
    }

  }

  .category {
    @extend %font-basic;
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 25px;


    .card_category {
      padding: 15px;
      cursor: pointer;
      border-radius: 0.5rem;
      overflow: hidden;

      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

      transition: all $transition-time ease-out;

      .card_category_title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @extend %font-bold;
      }

      .placeholder {
        max-width: 50px;
        max-height: 40px;
      }

      &:hover {
        transform: scale(1.01);
      }

    }
  }
}

.form_overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    width: 350px;


    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 0.5rem;

    .form_close_btn {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .form_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      padding: 10px;

      p {
        @extend %font-bold;
        font-size: 20px;
      }

      img {
        width: 130px;
        height: 130px;
      }
    }

    .form_content {
      display: flex;
      justify-content: space-between;

      label {
        @extend %font-bold;
        font-size: 20px;

        margin-top: 25px;
        width: 24.75rem;
        height: 2.875rem;
      }

      input {
        @extend %font-basic;
        margin-top: 15px;
        width: 24.75rem;
        height: 2.875rem;

        border-radius: 0.5rem;
        border: 1px solid var(--stroke-primary, #E4E7EE);
        background: var(--background-white, #FFF);
      }
    }

    button {
      @extend %font-bold;
      font-size: 20px;
      color: white;

      width: 350px;
      height: 50px;
      margin-top: 10px;

      border-radius: 0.5rem;
      background: var(--background-main-color, #0D63F3);
    }
  }
}