@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Inter:wght@600;700&family=Roboto&display=swap');

%font-bold {
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

%font-basic {
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.69rem;
  width: 95%;
  margin: 0 auto;

  color: white;


  .header_contact {
    @extend %font-bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 20.6rem;
    height: 1.5rem;
    margin-left: auto;
    padding: 5px 25px 15px 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    padding: 10px;

    .logo {
      display: flex;
      align-items: center;
      width: 5.68744rem;
      height: 2.1875rem;
    }

    .header_input {
      display: flex;
      width: 30%;
      height: 2.875rem;

      input {
        width: 24.75rem;
        @extend %font-basic;

        border-radius: 0.5rem 0rem 0rem 0.5rem;
        border: 1px solid var(--stroke-primary, #E4E7EE);
        background: var(--background-white, #FFF);
      }

      .header_nav_search_btn {
        width: 3.75rem;
        height: 2.875rem;

        cursor: pointer;

        border: 0;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        background: var(--background-main-color, #0D63F3);

        img {
          display: flex;
          margin: 0 auto;
        }
      }
    }

    .header_login_btn {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 6.5625rem;
      height: 3rem;
      @extend %font-bold;

      border-radius: 0.625rem;
      background: var(--button-gradient-20, linear-gradient(270deg, rgba(77, 94, 246, 1) 0%, rgba(246, 77, 77, 1) 100%));
    }

    @media only screen and (max-width: 768px) {
      .header_login_btn {
        display: none; /* Скрываем кнопку логина */
      }
    }
  }

  @media only screen and (max-width: 768px) {
    nav {
      margin: 0;
    }
  }
}

