

main {
  width: 100%;


  .slider-container {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
  }


  .slick-dots {
    margin-top: 25px;
  }


  .slider-image {
    margin: 0 auto;
    max-width: 100%;
    width: 84.625rem;
    height: 26rem;

  }




}